body {
    font-family: 'Kumbh Sans', sans-serif;
    margin: 0 auto;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 580px;
    width: 1000px;
    padding: 8%;
    background: linear-gradient(180deg, #B068E9 0%, #6463E7 100%);
}
.content {
    background-color: white;
    height: 450px;
    width: 950px;
    margin-left: 5%;
    margin-right: 0%;
    margin-top: 5%;
    margin-bottom: 0%;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.497159);
    border-radius: 3%;
    background-image: url("images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-position: 3500% 60%;
    
}
.right {
    padding: 20px;
    text-align: left;
    cursor: pointer;
    line-height: 15px;
    margin-left: 50%;
    margin-right: 5%;
    margin-top: -35%;
}
.box img {
    margin-top: 18%;
    margin-left: -85px;
    position: relative;
}
.left {
    position: relative;
}
.woman {
    position: absolute;
    margin-top: 5%;
    width: 100%;
    height: 100%;
    background-image: url("images/illustration-woman-online-desktop.svg");
    background-repeat: no-repeat;
    background-position:-15% 50%;
}
.question {
    display:flex;
    justify-content: space-between;
}
.question img{
    align-self: center;
}
.answer {
    display : none;
}
.qna {
    border-bottom: 1.5px solid hsl(240, 5%, 91%);
}
#mobile {
    display: none;
}

@media (max-width: 960px) {
    body {
        margin-top: 120px;
        margin-left: 17%;
        width: 60%;
    }
    .content {
        margin-top: 0%;
        margin-right: auto;
        margin-left: auto;
        height: 100%;
        width: 100%;
        font-size: 0.8rem;
        background-image: url("images/bg-pattern-mobile.svg");
        background-repeat: no-repeat;
        background-position: center 1%;
        background-size: 70% 22%;
    }
    .right {
        margin-top: -25%;
        margin-left: auto;
    }
    #small {
        opacity: 0%;
    }
    .title {
        text-align: center;
    }
    .woman {
        display: none;
    }
    #mobile {
        position:absolute;
        width: 40%;
        height: 30%;
        display: block;
        margin-left: 9.5%;
        margin-right: 0%;
        margin-bottom: 0%;
        margin-top: 6%;
        top: 0%;
    }
}
